
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    width: 100px;
    height: 100px;
}
.center{
margin: auto;

}
.avatar{
    border-radius:  50%;
    border:5px solid black;
    padding: 5px;   
    margin-top: 10px;
    margin-bottom: 10px;
}
.main{
    height: 500px;
    width: 350px;
    text-align: center;
    border: 5px solid black;
    border-radius: 12px;
    display: block;
    background-color: white;

    margin: auto;
    margin-top: 200px;

    z-index: 1;
}
h1{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    padding-bottom: 20px;
}
body{
    
    overflow: hidden;
    height: 100%;
    background: black;
    margin: auto;
}
section{
    height:100% ;
}
span{
    position: absolute;
    pointer-events: none;
    background: white;
    animation: animate 5s linear infinite;
    z-index: -1;
    
}

@keyframes animate
{
0%
{
transform: scale(0) translateY(0) rotate(0deg);
opacity:    0;
}
10%
{
opacity:    1;
}
90%
{
opacity:    1;
}
100%
{
transform: scale(1) translateY(-500%) rotate(360deg);    
}
}